.header {
  grid-row: 1/-1;
  background-color: #161d2f;
  margin: 24px 32px;
  padding: 32px;
  border-radius: 20px;
}

.header nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

a:visited,
a:link {
  text-decoration: none;
  fill: #5a698f;
  transition: all 0.3s;
}
a:hover,
a:active {
  fill: #fff;
}

a.active {
  fill: #fff;
}
