.header {
  grid-row: 1/-1;
  background-color: #161d2f;
}

.header nav {
}

.header nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

a:visited,
a:link {
  text-decoration: none;
  fill: #5a698f;
  transition: all 0.3s;
}
a:hover,
a:active {
  fill: #fff;
}

a.active {
  fill: #fff;
}
